<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
      <img class="logo" src="/img/logo.png" > Cb easy
    </a>

 <div>
  <a class="text-white" href="/admin/categories/new">Cubagem</a>
  <a class="text-white ml-3" href="/admin/categories">Histórico</a>
 </div>
        
      
</nav>