<%- include('partials/header.ejs')  %>

<%- include('partials/navbar.ejs')  %>

<div class="container">
  <div class="card m-5">
    <div class="card-header">
      Informe os dados
    </div>
    <div class="card-body">
      <form method="post">
        <label for="">Largura (m)</label>
        <input name="largura" type="number" class="form-control">
        <label for="">Altura (m)</label>
        <input name="altura" type="number" class="form-control">
        <label for="">Comprimento (m)</label>
        <input name="comprimento" type="number" class="form-control">
        <label for="">Total de caixas</label>
        <input name="total" type="number" class="form-control">
        <button class="btn btn-success float-right mt-3"> Realizar</button>
      </form>
    </div>
    
    <% if(mensagem != ""){ %> 
    <div class="alert alert-success" role="alert">
      <%= mensagem %> 
    </div>
    <% } %> 
  </div>
</div>

<%- include('partials/footer.ejs')  %>