<%- include('partials/header.ejs')  %>

<%- include('partials/navbar.ejs')  %>

<div class="container ">
  <div class="card m-3">
    <div class="card-header">
      Informe os dados
    </div>
    <div class="card-body">
      <form method="post">
        <label for="">Largura (m)</label>
        <input name="largura" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1')" type="text" class="form-control" placeholder="0.5">
        <label for="">Altura (m)</label>
        <input name="altura" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1')"  type="text" class="form-control" placeholder="1">
        <label for="">Comprimento (m)</label>
        <input name="comprimento" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1')" type="text" class="form-control" placeholder="0.5">
        <label for="">Total de caixas</label>
        <input name="total" type="number" class="form-control" placeholder="5">
        <button class="btn btn-success float-right mt-3"> Realizar</button>
      </form>
    </div>

    <% if(mensagem != ""){ %>
    <div class="alert alert-success" role="alert">
      <%= mensagem %>
    </div>
    <% } %>
  </div>
</div>

<%- include('partials/footer.ejs')  %>